@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Inter" sans-serif;
}

#candidateCard #description::-webkit-scrollbar {
  width: 0.3em;
}
#candidateCard #description::-webkit-scrollbar-thumb {
  background-color: #b8b8b8;
  border-radius: 10px;
}
